<link type="text/css" href="/component/css/jquery.jscrollpane.css" rel="stylesheet" media="all" />
<script type="text/javascript" src="/component/parts/navi_data.js"></script>
<script type="text/javascript" src="/component/parts/saitemap_data.js" charset="shift-jis"></script>
<script type="text/javascript" src="/component/parts/information_data.js"></script>
<div id="now_loading" style="text-align:center;margin-top:50px;">Now Loading･･･</div>
<div id="footer_container" style="display:none;">
	<div class="pageTop">
		<p><a href="#"><img src="/component/images/btn/btn_top.jpg" alt="ページのトップへ" width="98" height="15" /></a></p>
	<!-- page_top --></div>
	<p><img src="/component/images/line/bg_ft_naviLine.jpg" alt="" /></p>
	<ul id="ftNavi"></ul>
	<div class="ft_page_rssBox">
		<div class="page_rssBox"><!--Need for News-->
			<p class="page_rssTit"><img src="/component/images/title/tit_release.gif" alt="プレスリリース" /><span><a href="/component/documents/news_releases.xml"><img src="/component/images/icon/icon_rss.gif" alt="RSS" width="12" height="12" border="0" /></a></span></p>
				<div class="top_frames"><p><ul id="release_info"></ul></p></div>
		</div><!--/page_rssBox-->
		<div class="page_rssBox"><!--Need for News-->
			<p class="page_rssTit"><img src="/component/images/title/tit_message.gif" alt="新着情報" /><span><a href="/component/documents/news_message.xml"><img src="/component/images/icon/icon_rss.gif" alt="RSS" width="12" height="12" border="0" /></a></span></p>
				<div class="top_frames"><p><ul id="message_info"></ul></p></div>
		</div><!--/page_rssBox-->
	</div><!--/ft_page_rssBox-->
	<div class="ft_jsBox">
		<div class="ft_infoImgBox">
			<p class="ft_infoImgTit"><img src="/component/images/title/ft_tit_information.gif" alt="インフォメーション" /></p>
			<div class="coda-slider-wrapper">
				<div class="coda-slider preload" id="coda-slider-1">
					<div class="panel">
						<div class="panel-wrapper" id="info_img1"></div>
					</div>
					<div class="panel">
						<div class="panel-wrapper" id="info_img2"></div>
					</div>
					<div class="panel">
						<div class="panel-wrapper" id="info_img3"></div>
					</div>
					<div class="panel">
						<div class="panel-wrapper" id="info_img4"></div>
					</div>
					<div class="panel">
						<div class="panel-wrapper" id="info_img5"></div>
					</div>
				</div><!-- .coda-slider -->
			</div><!-- .coda-slider-wrapper -->
		</div><!--/ft_infoImgBox-->
		
		<div class="ft_sitemapBox">
			<p class="ft_sitemapTit"><img src="/component/images/title/ft_tit_sitemap.gif" alt="サイトマップ" /></p>
			
			<div class="ft_sitemapBoxIn" id="ftSitemap"></div><!--/ft_sitemapBoxIn-->
			
		</div><!--/ft_sitemapBox-->
	</div><!--/ft_jsBox-->
	<script type="text/javascript" src="/component/js/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="/component/js/jquery.coda-slider-2.0.js"></script>
	<script type="text/javascript">
			$().ready(function() {
				$('#coda-slider-1').codaSlider();
			});

			$().ready(function() {
				jQuery.easing.quart = function (x, t, b, c, d) {
					return -c * ((t=t/d-1)*t*t*t - 1) + b;
				};  
				$('.pageTop a').click(function () {
				$('html,body').animate({ scrollTop: 0 }, 1000, 'quart');
				return false;
				});
			});
	</script>
	<script type="text/javascript" src="/component/js/jquery.mousewheel.js"></script>
	<script type="text/javascript" src="/component/js/jquery.jscrollpane.min.js"></script>
	<script type="text/javascript" src="/component/js/scroll.set.js"></script>
	<script type="text/javascript" src="/component/js/ft_parts.js"></script>
	<div class="ft_copyright">
		<ul class="clearfix">
			<li><a href="/sitemap/">サイトマップ</a></li>
			<li><a href="/privacy/">個人情報保護方針</a></li>
			<li><a href="/privacy2/">特定個人情報基本方針</a></li>
			<li><a href="/usage/">サイトのご利用について</a></li>
			<li><a href="http://www.mitsubishi-motors.com/jp/corporate/recruit/" target="_blank">採用情報</a></li>
			<li><a href="/reference/index.html">お問い合わせ</a></li>
		</ul>
	
		<p>(c) Mitsubishi Motors Corporation. All rights reserved.</p>
	</div><!--/ft_copyright-->

</div><!--/footer_container-->
